.top-body
{
    background-color: #1F2937;
    color: white;
}
body{
    height: 100vh;
    width: 100vw;
}

ul{
    display: flex;
    justify-content: space-evenly;
}

li{
    margin-right: 30px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.header{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    margin-bottom: 30px;
    margin-left: 10px;

}

.topContent{
    display: flex;
    justify-content: space-around;
}

.heroMain{
    width: 300px;
    font-size: 48px;
    font-weight: bolder;
}

.topcontent-left{
   display: flex;
   flex-grow: 0;
 
}
.heroSecondary-text
{
    width: 300px;
    font-size: 18px;
    word-wrap: break-word;
}

.hero-image{
    text-align: center;
}